@font-face {
  font-family: "FFRegular";
  src: local("FFRegular"),
    url("./fonts/regular.otf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'FFRegular', sans-serif;
  cursor: none;
}

.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  .cursor {
    width: 40px;
    height: 40px;
    border: 2px solid #121212;
    background-color: white;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9;
    transition: all 200ms ease;
    transition-property: opacity, background-image, transform, mix-blend-mode;
  }
  
  .cursor--hidden {
    opacity: 0;
  }
  
  .cursor--link-hovered {
    transform: translate(-50%, -50%) scale(1.25);
  }
  
  .cursor--clicked {
    transform: translate(-50%, -50%) scale(0.9);
  }
  
  .game-container {
    .end {
      position: absolute;
      width: 100%;
      height: 30%;
      .text {
        background-color: #45D1A6;
        width: 350px;
        font-size: 2rem;
        position: relative;
        margin: 0 auto;
        margin-top: 100px;
        z-index: 8;
        border-radius: 10px;
        padding: 15px 10px;
        box-shadow: 0 0 0 0 rgb(120, 119, 119);
	      transform: scale(1);
        opacity: 1;
        p {
          margin: 0;
          padding: 0;
        }
	      &.animated {
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          -webkit-animation-iteration-count: infinite;
        }
        @-webkit-keyframes bounce {
          0%, 100% {
            -webkit-transform: translateY(0);
          }
          50% {
            -webkit-transform: translateY(-5px);
          }
        }
        @keyframes bounce {
          0%, 100% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-5px);
          }
        }
        &.bounce {
          -webkit-animation-name: bounce;
          animation-name: bounce;
        }
      }
    }
    .score-start {
      display: flex;
      flex-direction: column;
      position: absolute;
      align-items: center;
      justify-content: center;
      top: 24px;
      left: 24px;
      h3 {
        align-items: center;
        justify-content: center;
        color: white;
        .score {
          background: rgba(255,255,255,0.2);
          padding: 0 2rem 4px 2rem;
          line-height: 1;
          border-radius: 1rem;
        }
      }
      button {
        background-color: hsl(340deg 100% 32%);
        border-radius: 12px;
        border: none;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        margin-top: 20px;
        .front {
          display: block;
          padding: 12px 42px;
          border-radius: 12px;
          font-size: 1.25rem;
          background: #f05969;
          color: white;
          transform: translateY(-6px);
        }
        &:active {
          .front {
            transform: translateY(-2px);
          }
        }
      }
      
      button:hover {
        .front {
          color: black;
          transition: color 0.3s ease-in;
        }
      }
      .popUp {
        background-color: white;
        font-size: 14px;
        max-width: 100px;
        position: absolute;
        right: -120px;
        bottom: 0;
        border-radius: 10px;
        padding: 5px;
        &.animated {
          -webkit-animation-duration: .5s;
          animation-duration: .5s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          -webkit-animation-iteration-count: infinite;
        }
        @-webkit-keyframes bounce {
          0%, 100% {
            -webkit-transform: translateY(0);
          }
          50% {
            -webkit-transform: translateY(-5px);
          }
        }
        @keyframes bounce {
          0%, 100% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-5px);
          }
        }
        &.bounce {
          -webkit-animation-name: bounce;
          animation-name: bounce;
        }
      }
      .countdown {
        color: white;
        font-size: 30px;
        position: absolute;
        bottom: -50px;
      }
      @media (max-width: 820px) {
        left: 8px;
        .popUp {
          right: 15px;
          bottom: -80px;
        }
      }
      @media (max-width: 770px) {
        button {
          .front {
            padding: 5px 10px;
          }
        }
        h3 {
          .score {
            padding: 0 15px 5px 15px;
          }
        }
        .popUp {
          font-size: 12px;
          right: 0;
          padding: 0;
          bottom: -60px;
        }
      }
      @media (max-width: 400px) {
        h3 {
          font-size: 14px;
          .score {
            padding: 0 10px 5px 10px;
          }
        }
        .popUp {
          width: 80px;
          left: 0;
          bottom:-60px;
        }
      }
    }
    .game {
      width: 550px;
      height: 350px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      padding-bottom: 0px;
      cursor: none;
      .hole {
        flex: 1 0 33.33%;
        overflow: hidden;
        position: relative;
        &:after {
          display: block;
          background: url('./assets/snow2.svg') bottom center no-repeat;
          background-size: contain;
          content: '';
          width: 100%;
          height:90px;
          position: absolute;
          z-index: 5;
          bottom: -70px;
          overflow: visible;
        }
        .elf {
          background: url('./assets/elf.png') bottom center no-repeat;
          background-size: 80%;
          position: absolute;
          top: 100%;
          width: 100%;
          height: 100%;
          transition:all 0.4s;
        }
        &.up {
          .elf {
            top: 0;
          }
        }
      }
    }
  }
  .timer-container {
    margin: 40px 0;
    @media (max-width: 720px) {
      display: none;
    }
    @media (max-height: 570px) {
      display: none;
    }
    h1 {
      color: #fff;
      font-size: 3rem;
      font-weight: 800;
    }
    
    .subtitle {
      color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
      background-image: linear-gradient(#45D1A6, #45D1A6);
	    background-repeat: no-repeat;
	    background-position: 0% 100%;
	    background-size: 100% 2px;
	    transition: background-size .5s, background-position .3s ease-in .5s;
      &:hover {
        color: black;
        background-size: 100% 100%;
	      background-position: 0% 0%;
	      transition: background-position .5s, color 1.5s, background-size .3s ease-in .5s;
      }
    }
    .timer {
      .clock {
        position: relative;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        width: 600px;
        color: #fcdee0;
        border-radius: 15px;
        section {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-width: 80px;
          padding: 1rem;
          margin: 0 16px;
          background-color: #f05969;
          p {
            font-size: 4rem;
            color: #fff;
            text-shadow: none;
          }
          small {
            color: #fff;
            text-shadow: none;
          }
        }
      }
    }
  }
}

